@model ICollection<FPTBook.Models.Book>

@{
    ViewBag.Title = "Home Page";
}

<div class="row equal">
    @foreach (var book in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a href="@Url.Action("Details","Books", new { id = book.Id})"><img src="@book.CoverUrl" alt="@book.Name's cover"></a>
                <div class="caption">
                    <a href="#" role="button">@book.Name</a>
                    <p>@book.Description.Substring(0,100)...</p>
                </div>
            </div>
        </div>
    }
</div>